@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    box-sizing: border-box;   
 }
 :root{
    --primary-color: #dcf397;
    --secondary-color:#180101;   
}
.dark-theme{
    --primary-color:#212121;
    --secondary-color:#eee;
}